CYPRESS_email=usuario.teste@example.com
CYPRESS_senha=substitua_por_uma_senha_de_teste
XRAY_CLIENT_ID=substitua_pelo_client_id
XRAY_CLIENT_SECRET=substitua_pelo_client_secret
XRAY_PROJECT_KEY=HCX
XRAY_BASE_URL=https://xray.cloud.getxray.app/api/v2
